body {
    margin: 10% auto;
    background-color: #666;
    max-width: 700px;
}

.container {
    padding: 2px 0;
    background-color: #EEE;
    border-radius: 8px;
    margin: auto;
    max-width: 400px;
}

h1, img {
   display: inline-block;
}

input[type="checkbox"] {
    margin-left: 0;
    margin-top: 7px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    margin-top: 7px;
}

.row {
    margin :5px auto;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

form {
    border: 3px solid #f1f1f1;
    margin: auto 10px;
}


button {
    background-color: #DC006B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    max-width: 60%;
}

/* Change styles for span and cancel button on extra small screens */
@media (max-width: 992px) {
    body {
        margin: 10% auto;
    }
}
